/*
CSS for _Ulysses_ Site: Default version, with all book-links visible.
Amanda Visconti
*/

body {
	font-family: Arial, sans-serif;
	background-color: #FFD48E;
	width: 1000px;
}





/* -------------------------------------- */
/* Top-of-Page Logo Banner */

#topper {
	background-color:#403524;
	height: 80px;
	font-variant: small-caps;
	font-size: 14px;
	margin-top: 10px;
}

.Joyce1 {
	float: left;
}

.logo {	
	float:center;
}

.Joyce2 {
	float: left;
	margin-top: -48px;
}






/* -------------------------------------- */
/* Episode Panel DIVs! */
#underline1 {
	background-color: #FFD48E;
	height: 10px;
}

#tick {
	margin-left: 985px;
	margin-top: -4px;
}

#chapter {
	background-color: #403524;
	width: 1000px;	
	text-align: center;
}

#prede {
	height: 29px;
	background-color: #403524;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 10px;
	width: 1000px;
}

/* Episode 1 PreBriefing Button */
#pre {
	margin-top: -10px;
}

#pre:hover {
	margin-top: -10px;
}

/* Episode 1 DeBriefing Button */
#post {
	margin-left: 735px;
	margin-top: -41px;
}

#post:hover {
	margin-left: 735px;
	margin-top: -41px;
}






/* -------------------------------------- */
/* SPANS */

/* For section headings in briefing sections */
.highlight {
	font-weight: bold;
	font-variant: small-caps;
	font-size: 18px;
}

/* Partial Notes Header */
.partial {
	color: #FFD48E;
	letter-spacing: .5px;
	font-weight: bold;
}

/* Comments Button*/
.button {
	text-align: center;
	display:block;
	border: 1px solid #555;
	font-weight: bold;
	height: 40px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 0.3em;
	padding-right: 0.3em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	background-color: #FF6600;
	text-decoration:none;
	border: none;
}

.button:hover {
	text-align: center;
	display:block;
	border: 1px solid #555;
	font-weight: bold;
	height: 40px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 0.3em;
	padding-right: 0.3em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	background-color: #403524;
	text-decoration:none;
	border: none;
}

/* Help Button*/
.help {
	text-align: center;
	display:block;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	height: 30px;
	background-color: #990022;
	text-decoration:none;
	font-size: 30px;
	font-variant: small-caps;
	letter-spacing: 4px;
}

.help:hover {
	text-align: center;
	display:block;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	height: 30px;
	background-color: #403524;
	text-decoration:none;
	font-size: 30px;
	font-variant: small-caps;
	letter-spacing: 4px;
}

/* Partial Notes Tab Buttons*/
.noneselected, .bioselected, .historicalselected, .vocabselected, .styleselected, .puzzlesselected {
	text-align: center;
	display:block;
	font-weight: bold;
	margin:0;
	padding: 0.3em;
	background-color: #403C37;
	text-decoration:none;
}

.noneselected:hover, .bioselected:hover, .historicalselected:hover, .vocabselected:hover, .styleselected:hover, .puzzlesselected:hover  {
	text-align: center;
	display:block;
	font-weight: bold;
	margin:0;
	padding: 0.3em;
	background-color: #990022;
	text-decoration:none;
	width: 115px;
}

.defaultselected {
	text-align: center;
	display:block;
	font-weight: bold;
	margin:0;
	padding: 0.3em;
	background-color: #990022;
	text-decoration:none;
	width: 115px;
}






/* -------------------------------------- */
/* DIVs*/

/* Left Column for partial note tabs */
#left {
	position: absolute;
	background-color: #403524;
	width: 105px;
	height: 530px;
	font-size:12px;
	padding: 3px;
	text-align: center;
	font-variant: small-caps;
}

/* For Ulysses text */
#booktext {
	font-family: Georgia, Arial, sans-serif;
	position: absolute;
	margin-left:125px;
	top: 180px;
	height: 527px;
	width: 450px;
	padding: 3px;
	padding-right: 400px;
	font-size: 13px;
	text-align:left;
	border: 2px solid #403524;
	overflow: auto;
}




/* -------------------------------------- */
/* Button Links */

a:link {
	text-decoration: none;
	color: #FFF1DA;
}

a:visited {
	color: #FFF1DA;
}

a:hover {
	color: #FFF1DA;
}

a:active {
	color: #FFF1DA;
}

a span {
	display: none;
}

a:hover span {
	font-family: Georgia, Arial, sans-serif;
	display: inline;
	text-align: left;
	position: fixed;
	font-size: 12px;
	left: 600px;
	top: 195px;
	width: 365px;
}

a:hover span img {
	padding-top: 15px;
	border: none;
}



.booklinks a:link {
	text-decoration: underline;
	color: #990022;
}

.booklinks a:visited {
	text-decoration: underline;
	color: #990022;
}

.booklinks a:hover {
	text-decoration: underline;
	color: #990022;
}

.booklinks a:active {
	text-decoration: underline;
	color: #990022;
}

/* Regular Links, outside of book text and not buttons*/
.mainlinks a:link {
	text-decoration: none;
	color: #990022;
}

.mainlinks a:visited {
	text-decoration: none;
	color: #333333;
}

.mainlinks a:hover {
	text-decoration: none;
	color: #FF3300;
}

.mainlinks a:active {
	text-decoration: none;
	color: #333333;
}

.style a:link {
	text-decoration: none;
	color: #FFF1DA;
}

.style a:hover span {
	font-family: Georgia, Arial, sans-serif;
	font-variant: normal;
	font-weight: normal;
	font-size: 11px;
	color: #990022;
	text-align: left;
	display: inline;
	position: fixed;
	left: 600px;
	top: 195px;
	width: 365px;
}


/* -------------------------------------- */
/* Main Menu */
#menuh-container {
	margin-top: -8px;
	margin-left: 80px;
}

#menuh
	{
	font-size: small;
	font-family: arial, sans-serif;
	letter-spacing: 1px;
	}
		
#menuh a
	{
	text-align: center;
	font-size: 16px;
	display:block;
	border: 2px solid #990022;
	font-weight: bold;
	white-space:nowrap;
	margin:0;
	padding: 0.3em;
	letter-spacing: 3px;
	}
	
	
#menuh li .grey a {
	color: #555555;
	background-color: #403524;
	text-decoration:none;
}
	
#menuh a:link, #menuh a:visited, #menuh a:active	/* menu at rest */
	{
	color: #FFF1DA;
	background-color: #403524;
	text-decoration:none;
	}
	
#menuh a:hover						/* menu on mouse-over  */
	{
	color: #990022;
	background-color: #FFD48E;
	text-decoration:none;
	}

#menuh ul
	{
	list-style:none;
	margin:0;
	padding:0;
	float:left;
	width: 210px; /* width of all menu boxes */
	/* NOTE: For adjustable menu boxes you can comment out the above width rule.
	However, you will have to add padding in the "#menh a" rule so that the menu boxes
	will have space on either side of the text */
	}

#menuh li
	{
	position:relative;
	min-height: 1px;		
	vertical-align: bottom;	
	}

#menuh ul ul
	{
	position:absolute;
	z-index:500;
	top:auto;
	display:none;
	padding: 1em;
	margin:-1em 0 0 -1em;
	}

#menuh ul ul ul
	{
	top:0;
	left:100%;
	}

div#menuh li:hover
	{
	cursor:pointer;
	z-index:100;
	}

div#menuh li:hover ul ul,
div#menuh li li:hover ul ul,
div#menuh li li li:hover ul ul,
div#menuh li li li li:hover ul ul
{display:none;}

div#menuh li:hover ul,
div#menuh li li:hover ul,
div#menuh li li li:hover ul,
div#menuh li li li li:hover ul
{display:block;}






/* -------------------------------------- */
/* Footer Menu Bar*/
#footer {
background-color: #FFD48E;
position: relative;
top: 100%;
}


#footernav {
border-bottom:3px solid #403524;
border-top:3px solid #403524;
text-align:center;
}

#footernav ul {
display:inline;
}

#footernav li {
display:inline;
padding:50px;
}

#footernav a:link {
color:#990022;
font-variant:small-caps;
font-weight:bold;
text-decoration:none;
}


#footerupdate {
color:#403524;
padding-top: 5px;
font-size: 12px;
font-variant: small-caps;
text-align: center;
}

#footerupdate ul {
display:inline;
}

#footerupdate li {
display:inline;
padding: 15px;
}
